<img src="img/USA.png" alt="Italian Trulli" width="1200" height="500">

<div style="padding:20px;color:white;margin:0;font-size:30px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>US Visa Prediction Project</b></div>

**Importing Pandas, Numpy, Matplotlib, Seaborn and Important Libraries.**

In [20]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import date
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind,mannwhitneyu
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

warnings.filterwarnings('ignore')
%matplotlib inline

**Loading Data**

In [6]:
df_USA=pd.read_csv('data/EasyVisa.csv')

<div style="padding:20px;color:white;margin:0;font-size:30px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>Data PreProcessing</b></div>


<div style="padding:15px;color:white;margin:0;font-size:15px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>Handling Missing values</b></div>

In [7]:
df_USA.isnull().sum()

case_id                  0
continent                0
education_of_employee    0
has_job_experience       0
requires_job_training    0
no_of_employees          0
yr_of_estab              0
region_of_employment     0
prevailing_wage          0
unit_of_wage             0
full_time_position       0
case_status              0
dtype: int64

**Result: There are'nt any Missing values.**


<div style="padding:15px;color:white;margin:0;font-size:15px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>Handling Duplicate values</b></div>

In [8]:
df_USA.duplicated().sum()

0

**Result: There are'nt any duplicate values.**

<div style="padding:15px;color:white;margin:0;font-size:15px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>Remove case_id from the dataset</b></div>

In [10]:
df_USA.drop(columns=['case_id'],inplace=True)

In [11]:
df_USA.head()

,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

<div style="padding:20px;color:white;margin:0;font-size:30px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>Feature Engineering</b></div>

**We Replace Feature  `yr_of_estab` With `company_age` Which Shows Age of a Company.**

In [12]:
todays_date = date.today()
current_year= todays_date.year
df_USA['company_age'] = current_year-df_USA['yr_of_estab']

**Droping Feature `yr_of_estab`**

In [13]:
df_USA.drop(columns=['yr_of_estab'], inplace=True)

**Identifying Numerical and Categorical Features**

In [19]:
num_Features=df_USA.select_dtypes(exclude='object').columns.to_list()
cat_Features=df_USA.select_dtypes(include='object').columns.to_list()

**Spliting X and Y**

In [36]:
X=df_USA.drop(columns=['case_status'])
Y=df_USA.case_status

In [37]:
X.head()

,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,company_age
0,Asia,High School,N,N,14513,West,592.2029,Hour,Y,17
1,Asia,Master's,Y,N,2412,Northeast,83425.6500,Year,Y,22
2,Asia,Bachelor's,N,Y,44444,West,122996.8600,Year,Y,16
3,Asia,Bachelor's,N,N,98,West,83434.0300,Year,Y,127
4,Africa,Master's,Y,N,1082,South,149907.3900,Year,Y,19

In [38]:
Y.head()

0       Denied
1    Certified
2       Denied
3       Denied
4    Certified
Name: case_status, dtype: object

**Since Target Variable Is Not Used For Prediction We Can Encode Here Itself: I Am Using Mannual Encodeing.**

In [39]:
Y=pd.DataFrame(np.where(Y=='Certified',0,1),columns=['case_status'])

In [40]:
Y.case_status.unique()

array([1, 0])


<div style="padding:20px;color:white;margin:0;font-size:30px;font-family:Georgia;text-align:left;display:fill;border-radius:5px;background-color:#254E58;overflow:hidden"><b>Feature Transformation</b></div>

**From EDA We Saw That, There is Skewness In Our Data.**